<div class="items">
    <div class="clock">
      <div class="rim grid">
        <span
          class="big-hand content-center col-start-1 row-start-1"
          data-clocks-target="hand"
          data-destination-angle="<%= clock.big_hand_destination_angle %>"
          style="rotate: <%= clock.big_hand_angle %>">
        </span>
        <span
          class="small-hand content-center col-start-1 row-start-1"
          data-clocks-target="hand"
          data-destination-angle="<%= clock.small_hand_destination_angle %>"
          style="rotate: <%= clock.small_hand_angle %>">
        </span>
      </div>
    </div>
</div>
