<div class="items">
    <div class="clock">
      <div class="rim">
        <span class="big-hand"
              data-clocks-target="hand"
              data-fixed-angle="<%= clock.big_hand_destination_angle %>"
              style="rotate: <%= clock.big_hand_angle %>"></span>
        <span class="small-hand"
              data-clocks-target="hand"
              data-fixed-angle="<%= clock.small_hand_destination_angle %>"
              style="rotate: <%= clock.small_hand_angle %>"></span>
      </div>
    </div>
</div>
