<div id="space" class="">
  <div class="grid grid-cols-20">
    <div class="items">
      <div class="clocks">
        <div class="rim">
          <span class="big-hand rotate-[45.3deg]"></span>
          <span class="small-hand"></span>
        </div>
      </div>
    </div>
  </div>
</div>
