<div id="space" class="flex justify-center">
  <div id="grid">
    <div class="items">
      <div class="clocks">
        <div class="rim">
          <span class="big-hand"></span>
          <span class="small-hand"></span>
        </div>
      </div>
    </div>
  </div>
</div>
