<div id="space" class="grid h-full">
  <div class="grid content-center" style="grid-template-columns: repeat(<%= @cols %> , minmax(0, 1fr))">
    <div class="items">
      <div class="clocks">
        <div class="rim">
          <span class="big-hand" style="rotate: <%= @big_hand_deg %>"></span>
          <span class="small-hand" style="rotate: <%= @small_hand_deg %>"></span>
        </div>
      </div>
    </div>
  </div>
</div>
