<div id="space" class="grid h-full">
  <%= turbo_frame_tag :clocks, class:'content-center col-start-1 row-start-1' do %>
    <div
      class="grid"
      style="grid-template-columns: repeat(<%= @cols %> , minmax(0, 1fr))"
      data-controller="clocks"
      data-clocks-turbo-visit-value="<%= @turbo_visit %>"
      data-clocks-interval-outlet="#interval"
    >
      <%= render partial: "clock", collection: @clocks, as: :clock %>
    </div>
  <% end %>
  <div
    id="interval"
    data-controller="interval"
    class="col-start-1 row-start-1"
  >
    <a href="/" data-interval-target="reloadLink" data-turbo-frame="clocks"></a>
  </div>
</div>
