<div>
  <h1 class="font-bold text-4xl">Clocks#index</h1>
  <p>Find me in app/views/clocks/index.html.erb</p>
</div>
<div id="space" class="flex justify-center">
  <div class="clocks">
    <div class="rim">
      <span class="big-hand">1</span>
      <span class="small-hand">2</span>
    </div>
  </div>
</div>
